In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Carga de la base de datos

In [43]:
ruta = "../datos/online_retail_customer_churn.csv"

datos = pd.read_csv(ruta)

# Exploracion de Datos

In [44]:
datos.head()

,Customer_ID,Age,Gender,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago,Email_Opt_In,Promotion_Response,Target_Churn
0,1,62,Other,45.15,5892.58,5,22,453.80,2,0,3,129,True,Responded,True
1,2,65,Male,79.51,9025.47,13,77,22.90,2,2,3,227,False,Responded,False
2,3,18,Male,29.19,618.83,13,71,50.53,5,2,2,283,False,Responded,True
3,4,21,Other,79.63,9110.30,3,33,411.83,5,3,5,226,True,Ignored,True
4,5,21,Other,77.66,5390.88,15,43,101.19,3,0,5,242,False,Unsubscribed,False

In [45]:
datos.tail()

,Customer_ID,Age,Gender,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago,Email_Opt_In,Promotion_Response,Target_Churn
995,996,54,Male,143.72,1089.09,2,29,77.75,0,3,2,88,True,Ignored,False
996,997,19,Male,164.19,3700.24,9,90,34.45,6,4,4,352,False,Responded,True
997,998,47,Female,113.31,705.85,17,69,187.37,7,3,1,172,True,Unsubscribed,False
998,999,23,Male,72.98,3891.60,7,31,483.80,1,2,5,55,False,Responded,True
999,1000,34,Other,134.86,3956.71,15,48,420.91,6,0,1,269,True,Ignored,True

### Exploracion

In [46]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Customer_ID                 1000 non-null   int64
 1   Age                         1000 non-null   int64
 2   Gender                      1000 non-null   object
 3   Annual_Income               1000 non-null   float64
 4   Total_Spend                 1000 non-null   float64
 5   Years_as_Customer           1000 non-null   int64
 6   Num_of_Purchases            1000 non-null   int64
 7   Average_Transaction_Amount  1000 non-null   float64
 8   Num_of_Returns              1000 non-null   int64
 9   Num_of_Support_Contacts     1000 non-null   int64
 10  Satisfaction_Score          1000 non-null   int64
 11  Last_Purchase_Days_Ago      1000 non-null   int64
 12  Email_Opt_In                1000 non-null   bool
 13  Promotion_Response          1000 non-null   object
 14  Target_Churn                1000 non-null   bool
dtypes: bool(2), float64(3), int64(8), object(2)
memory usage: 103.6+ KB

In [47]:
datos.describe()

,Customer_ID,Age,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,43.267000,111.962960,5080.79265,9.727000,49.456000,266.876530,4.612000,1.934000,2.974000,182.890000
std,288.819436,15.242311,52.844111,2862.12335,5.536346,28.543595,145.873445,2.896869,1.402716,1.391855,104.391319
min,1.000000,18.000000,20.010000,108.94000,1.000000,1.000000,10.460000,0.000000,0.000000,1.000000,1.000000
25%,250.750000,30.000000,67.800000,2678.67500,5.000000,25.000000,139.682500,2.000000,1.000000,2.000000,93.000000
50%,500.500000,43.000000,114.140000,4986.19500,9.000000,49.000000,270.100000,5.000000,2.000000,3.000000,180.500000
75%,750.250000,56.000000,158.452500,7606.47000,14.000000,74.000000,401.602500,7.000000,3.000000,4.000000,274.000000
max,1000.000000,69.000000,199.730000,9999.64000,19.000000,99.000000,499.570000,9.000000,4.000000,5.000000,364.000000

In [48]:
datos['Gender'].value_counts()

Gender
Female    342
Male      334
Other     324
Name: count, dtype: int64

In [49]:
datos['Promotion_Response'].value_counts()

Promotion_Response
Unsubscribed    361
Responded       338
Ignored         301
Name: count, dtype: int64

### Control de valores nulos

No hay valores nulos en el dataset

In [50]:
datos.isnull().sum()

Customer_ID                   0
Age                           0
Gender                        0
Annual_Income                 0
Total_Spend                   0
Years_as_Customer             0
Num_of_Purchases              0
Average_Transaction_Amount    0
Num_of_Returns                0
Num_of_Support_Contacts       0
Satisfaction_Score            0
Last_Purchase_Days_Ago        0
Email_Opt_In                  0
Promotion_Response            0
Target_Churn                  0
dtype: int64

# Limpieza

### Renombrar variables

In [51]:
datos.rename(columns={'Age': 'Edad', 'Gender': 'Genero', 'Annual_Income':'Ingreso_Anual',
                      'Total_Spend':'Total_Gastado', 'Years_as_Customer':'Anios_como_cliente',
                      'Num_of_Purchases':'Numeros_Compras', 
                      'Average_Transaction_Amount':'Importe_Promedio_Transaccion',
                      'Num_of_Returns': 'Numero_de_Devoluciones',
                      'Num_of_Support_Contacts':'Cantidad_de_Contactos_Soporte',
                      'Satisfaction_Score': 'Nivel_Satisfaccion',
                      'Last_Purchase_Days_Ago':'Ultimo_dia_compra',
                      'Email_Opt_In':'Esta_Suscripto_via_Email',
                      'Promotion_Response':'Respuesta_a_Promocion',
                      'Target_Churn':'Target'}, inplace=True)

In [52]:
datos.head()

,Customer_ID,Edad,Genero,Ingreso_Anual,Total_Gastado,Anios_como_cliente,Numeros_Compras,Importe_Promedio_Transaccion,Numero_de_Devoluciones,Cantidad_de_Contactos_Soporte,Nivel_Satisfaccion,Ultimo_dia_compra,Esta_Suscripto_via_Email,Respuesta_a_Promocion,Target
0,1,62,Other,45.15,5892.58,5,22,453.80,2,0,3,129,True,Responded,True
1,2,65,Male,79.51,9025.47,13,77,22.90,2,2,3,227,False,Responded,False
2,3,18,Male,29.19,618.83,13,71,50.53,5,2,2,283,False,Responded,True
3,4,21,Other,79.63,9110.30,3,33,411.83,5,3,5,226,True,Ignored,True
4,5,21,Other,77.66,5390.88,15,43,101.19,3,0,5,242,False,Unsubscribed,False

### Cambio de tipo de variable

In [53]:
datos['Genero'].astype('string')

0       Other
1        Male
2        Male
3       Other
4       Other
        ...
995      Male
996      Male
997    Female
998      Male
999     Other
Name: Genero, Length: 1000, dtype: string

In [54]:
datos['Respuesta_a_Promocion'].astype('string')

0         Responded
1         Responded
2         Responded
3           Ignored
4      Unsubscribed
           ...
995         Ignored
996       Responded
997    Unsubscribed
998       Responded
999         Ignored
Name: Respuesta_a_Promocion, Length: 1000, dtype: string

In [55]:
datos['Genero'] = datos['Genero'].str.lower()
datos['Genero'].value_counts()

Genero
female    342
male      334
other     324
Name: count, dtype: int64

In [56]:
datos['Respuesta_a_Promocion'] = datos['Respuesta_a_Promocion'].str.lower()
datos['Respuesta_a_Promocion'].value_counts()

Respuesta_a_Promocion
unsubscribed    361
responded       338
ignored         301
Name: count, dtype: int64

### Datos Duplicados

In [57]:
datos.duplicated().sum()

np.int64(0)

### Escalado de variables

In [58]:
datos['Ingreso_Anual'] = datos['Ingreso_Anual']*1000
datos.head()

,Customer_ID,Edad,Genero,Ingreso_Anual,Total_Gastado,Anios_como_cliente,Numeros_Compras,Importe_Promedio_Transaccion,Numero_de_Devoluciones,Cantidad_de_Contactos_Soporte,Nivel_Satisfaccion,Ultimo_dia_compra,Esta_Suscripto_via_Email,Respuesta_a_Promocion,Target
0,1,62,other,45150.0,5892.58,5,22,453.80,2,0,3,129,True,responded,True
1,2,65,male,79510.0,9025.47,13,77,22.90,2,2,3,227,False,responded,False
2,3,18,male,29190.0,618.83,13,71,50.53,5,2,2,283,False,responded,True
3,4,21,other,79630.0,9110.30,3,33,411.83,5,3,5,226,True,ignored,True
4,5,21,other,77660.0,5390.88,15,43,101.19,3,0,5,242,False,unsubscribed,False

In [59]:
datos['Esta_Suscripto_via_Email'] = datos['Esta_Suscripto_via_Email'].astype(int)
datos.head()

,Customer_ID,Edad,Genero,Ingreso_Anual,Total_Gastado,Anios_como_cliente,Numeros_Compras,Importe_Promedio_Transaccion,Numero_de_Devoluciones,Cantidad_de_Contactos_Soporte,Nivel_Satisfaccion,Ultimo_dia_compra,Esta_Suscripto_via_Email,Respuesta_a_Promocion,Target
0,1,62,other,45150.0,5892.58,5,22,453.80,2,0,3,129,1,responded,True
1,2,65,male,79510.0,9025.47,13,77,22.90,2,2,3,227,0,responded,False
2,3,18,male,29190.0,618.83,13,71,50.53,5,2,2,283,0,responded,True
3,4,21,other,79630.0,9110.30,3,33,411.83,5,3,5,226,1,ignored,True
4,5,21,other,77660.0,5390.88,15,43,101.19,3,0,5,242,0,unsubscribed,False

In [60]:
datos['Target'] = datos['Target'].astype(int)
datos.head()

,Customer_ID,Edad,Genero,Ingreso_Anual,Total_Gastado,Anios_como_cliente,Numeros_Compras,Importe_Promedio_Transaccion,Numero_de_Devoluciones,Cantidad_de_Contactos_Soporte,Nivel_Satisfaccion,Ultimo_dia_compra,Esta_Suscripto_via_Email,Respuesta_a_Promocion,Target
0,1,62,other,45150.0,5892.58,5,22,453.80,2,0,3,129,1,responded,1
1,2,65,male,79510.0,9025.47,13,77,22.90,2,2,3,227,0,responded,0
2,3,18,male,29190.0,618.83,13,71,50.53,5,2,2,283,0,responded,1
3,4,21,other,79630.0,9110.30,3,33,411.83,5,3,5,226,1,ignored,1
4,5,21,other,77660.0,5390.88,15,43,101.19,3,0,5,242,0,unsubscribed,0

In [61]:
datos.describe()

,Customer_ID,Edad,Ingreso_Anual,Total_Gastado,Anios_como_cliente,Numeros_Compras,Importe_Promedio_Transaccion,Numero_de_Devoluciones,Cantidad_de_Contactos_Soporte,Nivel_Satisfaccion,Ultimo_dia_compra,Esta_Suscripto_via_Email,Target
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,43.267000,111962.960000,5080.79265,9.727000,49.456000,266.876530,4.612000,1.934000,2.974000,182.890000,0.529000,0.526000
std,288.819436,15.242311,52844.111367,2862.12335,5.536346,28.543595,145.873445,2.896869,1.402716,1.391855,104.391319,0.499408,0.499573
min,1.000000,18.000000,20010.000000,108.94000,1.000000,1.000000,10.460000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,250.750000,30.000000,67800.000000,2678.67500,5.000000,25.000000,139.682500,2.000000,1.000000,2.000000,93.000000,0.000000,0.000000
50%,500.500000,43.000000,114140.000000,4986.19500,9.000000,49.000000,270.100000,5.000000,2.000000,3.000000,180.500000,1.000000,1.000000
75%,750.250000,56.000000,158452.500000,7606.47000,14.000000,74.000000,401.602500,7.000000,3.000000,4.000000,274.000000,1.000000,1.000000
max,1000.000000,69.000000,199730.000000,9999.64000,19.000000,99.000000,499.570000,9.000000,4.000000,5.000000,364.000000,1.000000,1.000000

# Guardado del dataset

In [62]:
ruta_guardado = "../datos/dataset_retail_limpio.csv"
datos.to_csv(ruta_guardado, index=False)

# Analisis Univariado